@import 'variables';

@mixin customScrollGray() {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #D7E1ED;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #90abc2;
  }
}
