@import "mixins";

.modal-layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 448px;
  max-width: 100%;
  min-height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;

  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #231F20;
  }

  &__content {
    flex: 1;

    .mdc-dialog__content {
      padding: 0 4px 0 0;
      @include customScrollGray()
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    align-self: end;
  }
}
