<div class="modal-layout">
  <div class="modal-layout__header">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <div class="modal-layout__content">
    <mat-dialog-content>
      <ng-content></ng-content>
    </mat-dialog-content>
  </div>
  <div class="modal-layout__actions">
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Отмена</button>
      <button mat-button color="primary" (click)="onConfirm()">{{ confirmButtonText }}</button>
    </mat-dialog-actions>
  </div>
</div>
