.records {
  display: flex;
  flex-direction: column;
  padding: 31px 16px 16px;
  max-height: 100dvh;
  overflow-y: hidden;

  &__title {
    margin-bottom: 26px;

    color: #2F7FD5;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.15px;
    font-weight: 500;
  }

  &__table {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 20px;
  }
}
