@import "variables";

.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .errors {
    display: flex;
    flex-direction: column;
    align-self: end;
    padding: 0 16px;
    gap: 3px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    .error {
      font-size: 12px;
      line-height: 16px;
      color: #DA1B1B;
    }
  }
}
