<div class="user-dialog">
  <app-modal-layout
    [cancelAction]="onCancel.bind(this)"
    [confirmAction]="onConfirm.bind(this)"
    [confirmButtonText]="'Сохранить'" [isFormValid]="formGroup.valid"
    [title]="'Новый клиент'"
  >
    <form [formGroup]="formGroup" class="user-dialog__form">
      <app-input
        [control]="control('name')"
        label="Имя"
      />
      <app-input
        [control]="control('surname')"
        label="Фамилия"
      />
      <app-input
        [control]="control('email')"
        label="E-mail"
      />
      <app-input
        [control]="control('phone')"
        label="Телефон"
      />

    </form>
  </app-modal-layout>
</div>
