<div class="record-table">
  <div class="record-table__header">
    <button
      class="_btn icon transparent"
      (click)="openCreateUserDialog()"
    >
      <app-icon src="assets/img/icons/add.svg"></app-icon>
    </button>
    <button
      class="_btn icon transparent"
      [disabled]="selectedRecords.length < 1"
      (click)="onDeleteRecords()"
    >
      <app-icon src="assets/img/icons/delete.svg"></app-icon>
    </button>
  </div>
  <table class="table">
    <div class="table-thead">
      <div class="table-row">
        <div class="table-cell">
          <app-input-checkbox
            [state]="getHeaderCheckboxState()"
            (stateChange)="toggleAllSelection()"
          ></app-input-checkbox>
        </div>
        <button
          class="table-cell"
          (click)="onSort('name')"
        >
          Имя
          <div class="table-cell__triangles">
            <div
              class="top"
              [class.active]="sortBy === 'name' && sortOrder === 'desc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
            <div
              class="bottom"
              [class.active]="sortBy === 'name' && sortOrder === 'asc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
          </div>
        </button>
        <button
          class="table-cell"
          (click)="onSort('surname')"
        >
          Фамилия
          <div class="table-cell__triangles">
            <div
              class="top"
              [class.active]="sortBy === 'surname' && sortOrder === 'desc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
            <div
              class="bottom"
              [class.active]="sortBy === 'surname' && sortOrder === 'asc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
          </div>
        </button>
        <button
          class="table-cell end"
          (click)="onSort('email')"
        >
          E-mail
          <div class="table-cell__triangles">
            <div
              class="top"
              [class.active]="sortBy === 'email' && sortOrder === 'desc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
            <div
              class="bottom"
              [class.active]="sortBy === 'email' && sortOrder === 'asc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
          </div>
        </button>
        <button
          class="table-cell end"
          (click)="onSort('phone')"
        >
          Телефон
          <div class="table-cell__triangles">
            <div
              class="top"
              [class.active]="sortBy === 'phone' && sortOrder === 'desc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
            <div
              class="bottom"
              [class.active]="sortBy === 'phone' && sortOrder === 'asc'"
            >
              <app-icon src="assets/img/icons/triangle.svg" />
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="table-tbody">
      <div
        class="table-row"
        *ngFor="let record of records"
        [class.selected]="selectedRecords.includes(record)"
      >
        <div class="table-cell">
          <app-input-checkbox
            [state]="selectedRecords.includes(record) ? 'checked' : 'unchecked'"
            (stateChange)="onToggleSelection(record)"
          ></app-input-checkbox>
        </div>
        <button class="table-cell btn" (click)="onEditRecord(record)">{{ record.name }}</button>
        <div class="table-cell">{{ record.surname }}</div>
        <div class="table-cell end">{{ record.email }}</div>
        <div class="table-cell end">{{ record.phone }}</div>
      </div>
    </div>
  </table>
</div>
