<div class="record-table">
  <h1>Клиенты</h1>
  <div class="table-header">
    <button mat-icon-button (click)="openCreateUserDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="onDeleteRecords()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="records" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleAllSelection()"
          [checked]="allSelected"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let record">
        <mat-checkbox
          (change)="onToggleSelection(record)"
          [checked]="selectedRecords.includes(record)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('name')">
        Имя
        <span *ngIf="sortBy === 'name'">
                    <mat-icon>{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                </span>
      </th>
      <td mat-cell *matCellDef="let record" (click)="onEditRecord(record)">{{ record.name }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('surname')">
        Фамилия
        <span *ngIf="sortBy === 'surname'">
                    <mat-icon>{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                </span>
      </th>
      <td mat-cell *matCellDef="let record">{{ record.surname }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('email')">
        Email
        <span *ngIf="sortBy === 'email'">
                    <mat-icon>{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                </span>
      </th>
      <td mat-cell *matCellDef="let record">{{ record.email }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('phone')">
        Телефон
        <span *ngIf="sortBy === 'phone'">
                    <mat-icon>{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                </span>
      </th>
      <td mat-cell *matCellDef="let record">{{ record.phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
