@import "variables";
@import "mixins";

.record-table {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  background-color: #fff;
  border-radius: 20px;


  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
  }

  .table {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;

    &-cell {
      display: flex;

      &.end {
        justify-content: flex-end;
      }
    ;
    }

    &-thead {
      width: 100%;

      .table-cell {
        align-items: center;
        gap: 4px;

        color: #2F4C97;
        font-weight: 500;
        letter-spacing: 0.2px;


        &__triangles {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .bottom {
            transform: rotate(180deg);
          }

          .top, .bottom {
            opacity: .5;
            transition: opacity .3s;

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }

    &-tbody {
      flex: 1;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      @include customScrollGray();

      .table-row{
        @media (hover:hover) {
          &:hover{
            background-color: #f6f9ff;
          }
        }
      }
    }

    &-row {
      display: grid;
      grid-template-columns: minmax(24px, 1.3%) repeat(4, minmax(150px, 280px));
      gap: 12px;
      padding: 15px 21px;
      border-bottom: 1px solid #f2f2f2;
      transition: background-color .3s;

      &:last-child {
        border-bottom: none;
      }

      &.selected {
        background-color: #E9F0FF;
      }
    }

    &-cell {
      &.btn {
        text-align: left;

        @media (hover: hover) {
          &:hover {
            color: #3163cb;
            text-decoration: underline;
          }
        }

        &:active {
          color: #3163cb;
          text-decoration: underline;
        }
      }
    }
  }
}
