@import "variables";

.input {
  &__wrapper {
    position: relative;

    &.focused, &.filled {
      .label {
        font-size: 12px;
        line-height: 16px;
        transform: translateY(-34px);
      }
    }

    &.focused {
      .control-input {
        border-color: #2F7FD5;
      }
      .label {
        color: #2F7FD5;
      }
    }

    &.filled {
      .control-input {
        border-color: #505662;
      }
      .label {
        color: #505662;
      }
    }

    &.error {
      .control-input {
        border-color: #DA1B1B;
      }
      .label {
        color: #DA1B1B;
      }
    }

    .control-input {
      display: flex;
      height: 56px;
      width: 100%;
      padding: 16px;
      box-shadow: none;
      appearance: none;
      transition: border-color .3s;
      position: relative;
      z-index: 1;
      border: 1px solid #BBC5C9;
      border-radius: 4px;

      font-size: 16px;
      line-height: 22px;

      &.disabled {
        cursor: no-drop;
      }

      &:-webkit-autofill {
        & ~ .placeholder {
          color: transparent;
        }
      }

      &:-webkit-autofill:hover,
      :-webkit-autofill:focus {
        & ~ .placeholder {
          color: transparent;
        }
      }
    }

    .label {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      pointer-events: none;
      height: max-content;
      padding: 0 4px;
      background-color: #fff;

      font-size: 16px;
      line-height: 22px;
      color: #BBC5C9;
      transition: color .3s, font-size .3s, line-height .3s, transform .3s;
    }
  }
}
