<div class="input">
  <app-form-control
    [control]="control"
    [showErrors]="showError"
    [withError]="withError"
  >
    <div [class.error]="withError || errors.length"
         [class.filled]="!inputFocus && !!control.value"
         [class.focused]="inputFocus"
         class="input__wrapper error"
    >
      <input
        #input
        (blur)="onBlur()"
        (focus)="onFocus()"
        [class.disabled]="disabled"
        [disabled]="disabled"
        [formControl]="control"
        [readonly]="readonly"
        [type]="type"
        autocomplete="off"
        class="control-input"
      />
      <label class="label">{{ label }}</label>
    </div>
  </app-form-control>
</div>
