<div class="input">
  <app-form-control
    [control]="control"
    [withError]="withError"
    [showErrors]="showError"
  >
    <div class="input__wrapper error"
         [class.focused]="inputFocus"
         [class.filled]="!inputFocus && !!control.value"
         [class.error]="withError || errors.length"
    >
      <input
        #input
        class="control-input"
        [formControl]="control"
        autocomplete="off"
        [class.disabled]="disabled"
        [disabled]="disabled"
        [readonly]="readonly"
        [type]="type"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
      <label class="label">{{ label }}</label>
    </div>
  </app-form-control>
</div>
