<div class="create-user-dialog">
  <app-modal-layout
    [title]="'Новый клиент'"
    [confirmButtonText]="'Сохранить'"
    [confirmAction]="onConfirm.bind(this)" [cancelAction]="onCancel.bind(this)"
    [isFormValid]="formGroup.valid"
  >
    <form class="create-user-dialog__form" [formGroup]="formGroup">
      <app-input
        [control]="control('name')"
        label="Имя"
      />
      <app-input
        [control]="control('surname')"
        label="Фамилия"
      />
      <app-input
        [control]="control('email')"
        label="E-mail"
      />
      <app-input
        [control]="control('phone')"
        label="Телефон"
      />
    </form>
  </app-modal-layout>
</div>
